@model List<Manager.Models.DonHang>

<h2>Danh sách đơn bán hàng</h2>

<table class="table">
    <tr>
        <th>Mã Đơn Hàng</th>
        <th>Mã Khách Hàng</th>
        <th>Tổng Tiền</th>
        <th>Trạng Thái</th>
        <th>Ngày Tạo</th>
        <th>Chi Tiết</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaDonHang</td>
            <td>@item.MaKhachHang</td>
            <td>@item.TongTien.ToString("N0") ₫</td>
            <td>@item.TrangThaiDonHang</td>
            <td>@item.NgayTao?.ToString("dd/MM/yyyy")</td>
            <td>
                @Html.ActionLink("Xem chi tiết", "ChiTietDonBanHang", new { id = item.MaDonHang }, new { @class = "btn btn-info btn-sm" })
            </td>

        </tr>
    }
</table>
